@font-face {
    font-family: miller;
    src: url('./miller.ttf');
}

@font-face {
    font-family: anfisa;
    src: url('./anfisa.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.root-element {
    height: 100%;
}

.bgMain{
    background: url(./5.jpg) no-repeat center;
    background-size: 100%;
}

.dislpayFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
} 

.bgRegister {
    background: url(./9.jpg) no-repeat center;
    background-size: 100%;
}

.bgPlay {
    background: url(./25.jpg) no-repeat center;
    background-size: 100%;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    /* justify-content: space-between; */
    height: 7vh;
    width: 85vw;
    float: right;
}

.headerSingIn {
    justify-content: space-between;
}

.wrapperButtonHeader {
    display: flex;
    justify-content: space-between;
    width: 55vw;
    cursor: pointer;
}

.wrapperPlayer {
    display: flex;
    justify-content: space-around;
    align-items: center;

height: 6vh;;
    width: 10vw;
    color: white;
    background-color: #006915;
}

.wrapperScore {
    font-size: 35px;
    font-weight: bold;
}

.input {
    height: 25px;
    width: 250px;
    margin-bottom: 7vh;
    font-size: 22px;
    font-family: miller;
}

.wrapperReg,
.wrapperLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
    width: 700px;
}

.wrappperButtonReg {
    display: flex;
    justify-content: space-around;
    width: 550px;
    cursor: pointer;
}

.wrapperGame {
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.center {
    justify-content: center;
}

.none{
display: none;
}

.messageSingIn {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    height: 85vh;
    width: 55vw;

    font-family: anfisa;
    font-size: 65px;
    font-weight: bold;
    color: black;
    margin: 0 auto;
}

.messageError {
    font-size: 25px;
    color: #ff0000;
    font-weight: bold;
    width: 35vw;
    background-color: #fadcdc;
    margin-bottom: 10vh;
}

.icon {
    background-image: url(./znak.jpg);
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: right;
}

.dislpayWWW {
    flex: 0 0 auto;
}

.invalid {
    border: 3px solid #ff0000;
}

.button {
    width: 250px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    background: #006915;
    color: #ffffff;
}

.button:hover {
border: solid black 2px;
}

.imgPlayer {
    height: 40px;
    width: 40px;
}

.answer {
    visibility: hidden;
}

.answer:checked + img{
    border: solid red 3px;
}

.img {
    cursor: pointer;
}

.wrapperCondition {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 1500px;
    font-size: 30px;
    /* background-color: #5ab6e0; */
}

.player {
    font-size: 30px;
}

.condition,
.messageWon {
    margin: 0 auto;
    font-family: anfisa;
    font-size: 65px;
    font-weight: bold;
    color: black;
}

.bgWon {
    background: url(./9.jpg) no-repeat center;
    background-size: 100%;
}
